<div class="container">
    <form action="" [formGroup]="form" (ngSubmit)="createCM()">

        <nav class="navbar navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <strong>Thêm tin bài</strong>
                </a>
                <div class="d-flex">

                    <button class="btn btn-outline-danger" type="submit" routerLink="/article">Hủy</button>
                    <span style="margin:0 1rem"> </span>
                    <button class="btn btn-outline-success" type="submit">Lưu</button>
                </div>
            </div>
        </nav>

        <div class="row">

            <div class="box col">
                <label for="exampleFormControlInput1" class="form-label">Tên tin bài <span
                        style="color:red">*</span></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="tentinbai">
                <span class="text-danger" *ngIf="(FormControl['tentinbai'].touched || submitted)
                && FormControl['tentinbai'].errors?.['required']">
                    This field must required
                </span>
            </div>
            <div class="box col">
                <label for="exampleFormControlInput1" class="form-label">Mã tin bài <span
                        style="color:red">*</span></label>
                <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="matinbai">
                <span class="text-danger" *ngIf="(FormControl['matinbai'].touched || submitted)
                && FormControl['matinbai'].errors?.['required']">
                    This field must required
                </span>
            </div>
            <div class="box col">
                <label for="exampleFormControlInput1" class="form-label">tin bài cha</label>
                <select type="email" class="form-control" id="exampleFormControlInput1" formControlName="tinbaiCha">
                    <option selected></option>
                    <option *ngFor="let item of tinbaiCha">{{item.tentinbai}}</option>

                </select>
            </div>
        </div>
        <div class="box row">
            <label for="exampleFormControlTextarea1" class="form-label">Mô tả</label>
            <textarea class="form-control" rows="9" formControlName="moTa"></textarea>
        </div>
    </form>



</div>