<br />

<div class="container">
  <div>
    <!-- nút lưu, xóa và tiêu đề -->
    <div> <b>Thêm tin bài </b>

      <div class="d-flex flex-row-reverse bd-highlight">

        <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" data-toggle="tooltip"
            data-placement="top" title="Tooltip on top">
            Lưu
          </button></div>
        <div class="p-2 bd-highlight"><button type="button" class="btn btn-secondary" data-toggle="tooltip"
            data-placement="left" title="Tooltip on right">
            Hủy
          </button></div>
      </div>
    </div>
    <div >
      <form class="needs-validation" novalidate>
        <div class="form-row">
          <div class="col-md-3 mb-3">
            <label for="validationCustom01">Tiêu đề*</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>

          <div class="col-md-3 mb-3">
            <label for="validationCustom01">Chuyên đề*</label>
            <select class="form-select" aria-label="Default select example">
              <option selected></option>
              <option value="1">Chuyên mục 1; Chuyên mục 2</option>
              <option value="2"> Chuyên mục 1</option>
              <option value="2"> Chuyên mục 2</option>
              <option value="3"> Chuyên mục 2</option>
            </select>

          </div>
          <div class="col-md-3 mb-3">
            <label for="validationCustom02">URL ảnh thumbnail*</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="" value="" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <br />
            <img src=" https://s.meta.com.vn/img/thumb.ashx/Data/image/2022/01/13/anh-dep-thien-nhien-6.jpg"
              alt="Trang web công nghệ" style="width:300px;height:150px;">
          </div>
        </div>
      </form>
    </div>


    <br />
    <div>
      <p>Nội dụng tin bài*</p>
      <textarea cols="180" rows="15"></textarea>
    </div>
